
    @{
        ViewData["Title"] = "About";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Этот ресурс был создан сугубо в образовательных целях!!!<br />Во время написания этого приложения я отрабатывал навыки работы с ASP.net Core и SQLserver <br /> Никого не пытался окорбить!!!JUST FOR FUN!!!</h1>
    @Html.ActionLink("На главную","Index")

