
@{
    ViewData["Title"] = "AppSERATOR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Наш ресурс не носит цели оскорбить кого-то,<br> и был создан в развлекательных целях.<br>Сайт генерирует случайные прозвища для вас и ваших друзей</h3>
        </div>
    </header>
</div>

<h1>ВВЕДИТЕ СВОЕ ИМЯ</h1>
@using (Html.BeginForm())
{
    <p class="lead">
        <input type="text" name="Name" /><br /><br />
        <input type="submit" class="btn btn-lg btn-secondary" value="НАЧАТЬ">
    </p>
    <label>Я не буду обижаться на разработчика</label>@Html.CheckBox("Check", false); 
   <h1>@Html.ValidationMessage("Fuck","Поставьте галочку")</h1>


}


